<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon-16x16.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/profPhoto.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>